In [3]:
# ####################################################################
#
#  LIBRARY
#    normalizer
#
#  DESCRIPTION
#    The aim of this library is to have normalizer helper functions to
#  apply to the datasets. So since it's often to have to normalize and
#  translate data from one value to another, we have created a library
#  here that does that for us in a simple manner.
#
#    The library assumes that the input is a dataframe (df) which is
#  the objects generated by the Pandas library.
#
# --------------------------------------------------------------------



#  normalize_string
#    df : [Pandas dataFrame]
#    column : [String] name of the column you want to normalize
#    mapping : [Python associatve array]
#
#  This function converts all the columns on a given dataframe from
#  a string to some value specified in a mapping.
#  The big difference between the previous version of this, is that
#  the user MUST know what is the mapping beforehand.
#  This is particularly useful when you WANT to know how the string
#  values were replaced by numbers.
# --------------------------------------------------------------------
def normalize_string_mapping(df, column, mapping):
    df[column].replace(mapping, inplace=True)


#  normalize_amount
#    df : [Pandas dataFrame]
#    column : [String] name of the column you want to normalize
#    round_to : [integer number]
#
#  This function remove "in between" numbers in a "floor" manner.
#  So for example if you have the numbers [5, 10, 12, 20, 24] and you
#  round to 10, then your set will end up being [5, 10, 10, 20, 20]
#  because all the numbers inbetween will be "floored" to the lower
#  number that is divided by 10.
# --------------------------------------------------------------------
def normalize_amount(df, column, round_to=2500):
    df[column] = df[column].apply(lambda x: int(x)-(int(x) % round_to))

In [2]:
import time
import pandas as pd
from lib.cartasur.constants import *
from lib.cartasur.normalizer import normalize_amount
from lib.cartasur.normalizer import normalize_string_mapping

#  This function serves as a dataset loader.py
# --------------------------------------------------------------------
def load_dataset(filename):
    print("[i] Loading file {}".format(filename))
    separator = ";"
    encoding = "ISO8859-1"
    return pd.read_csv(filename, sep=separator, encoding=encoding)

In [11]:
#  This function loads
# --------------------------------------------------------------------
#def load_merge_all_datasets(dataset_directory, drop_columns=None):
dataset_directory= "C:\\Users\\Guillo\\2020\\UP\\PROYECTOS\\UP_ML_cartasur\\data\\"
print("[i] Loading Datasets")
start = time.time()
pagos = load_dataset("{}PAGOS.csv".format(dataset_directory))
cuotas = load_dataset("{}CUOTAS.csv".format(dataset_directory))
clientes = load_dataset("{}CLIENTES.csv".format(dataset_directory))
creditos = load_dataset("{}CREDITOS.csv".format(dataset_directory))
end = time.time()
print("Finished in {} secs".format(round(end-start,2)))

[i] Loading Datasets
[i] Loading file C:\Users\Guillo\2020\UP\PROYECTOS\UP_ML_cartasur\data\PAGOS.csv
[i] Loading file C:\Users\Guillo\2020\UP\PROYECTOS\UP_ML_cartasur\data\CUOTAS.csv
[i] Loading file C:\Users\Guillo\2020\UP\PROYECTOS\UP_ML_cartasur\data\CLIENTES.csv
[i] Loading file C:\Users\Guillo\2020\UP\PROYECTOS\UP_ML_cartasur\data\CREDITOS.csv
Finished in 5.09 secs

In [12]:
#---------------------------------------------------------------------
#
#  LIBRARY
#    cartasur.constants
#
#  DESCRIPTION
#    This file include all the contants / mappings we need to
#    normalize the information on the files
#
#---------------------------------------------------------------------
CLASE_PLAN = {
    'RENOVADOR'  :  1,
    'NUEVO'      :  2
}


METALES = {
    'ALUMINIO'  :  1,
    'BRONCE'    :  2,
    'BRONCE_B'  :  3,
    'NUEVO'     :  4,
    'NUEVO_B'   :  5,
    'ORO'       :  6,
    'ORO_B'     :  7,
    'PLATA'     :  8,
    'PLATA_B'   :  9,
    'PLATINO'   : 10,
    'PLATINO_B' : 11,
    'POSREFI'   : 12,
    'POSREFIB'  : 13
}


TIPO_LABORAL = {
    'Cooperativista'      : 1,
    'Empleada Domestica'  : 2,
    'JUBILADO'            : 3,
    'MONOTRIBUTISTA'      : 4,
    'NODEFINIDA'          : 5,
    'PUBLICA'             : 6,
    'Pension Graciable'   : 7,
    'Plan Social'         : 8,
    'Privada'             : 9,
    'SIN RECIBO'          : 10
}


SEXO = {
    'D' : 0,
    'F' : 1,
    'M' : 2
}


SUCURSAL_Y = {
    'Alejandro Korn'   : 1,
    'Avellaneda'       : 2,
    'Brandsen'         : 3,
    'Burzaco'          : 4,
    'CallCenter'       : 5,
    'Casa Central'     : 6,
    'Caseros'          : 7,
    'Cañuelas'         : 8,
    'Chascomús'        : 9,
    'Ezeiza'           : 10,
    'Florencio Varela' : 11,
    'Flores'           : 12,
    'Glew'             : 13,
    'La Plata'         : 14,
    'Laferrere'        : 15,
    'Lanús'            : 16,
    'Liniers'          : 17,
    'Lomas'            : 18,
    'Los Polvorines'   : 19,
    'Monte Grande'     : 20,
    'Moreno'           : 21,
    'Morón'            : 22,
    'Once'             : 23,
    'Pompeya'          : 24,
    'Merlo'            : 25,
    'Quilmes'          : 26,
    'Rafael Castillo'  : 27,
    'San José'         : 28,
    'San Justo'        : 29,
    'San Miguel'       : 30,
    'Solano'           : 31,
    'Sucursal Web'     : 32
}

In [13]:
print(clientes)

       ID_CLIENTE  TDOC  NROC SEXO                    FALTA  \
0         1662448   NaN   NaN    M  1900-01-01 00:00:00.000
1         1662458   NaN   NaN    M  1900-01-01 00:00:00.000
2         1662470   NaN   NaN    M  1900-01-01 00:00:00.000
3         1662560   NaN   NaN    F  1900-01-01 00:00:00.000
4         1662583   NaN   NaN    M  1900-01-01 00:00:00.000
...           ...   ...   ...  ...                      ...
64524     2472853   NaN   NaN    F  2019-12-30 00:00:00.000
64525     2472858   NaN   NaN    M  2019-12-30 00:00:00.000
64526     2472862   NaN   NaN    F  2019-12-30 00:00:00.000
64527     2472869   NaN   NaN    F  2019-12-30 00:00:00.000
64528     2472878   NaN   NaN    F  2019-12-30 00:00:00.000

                          FNAC  INGRESO_NETO  FECHA_ALTA_LABORAL  SUCURSAL  \
0      1947-09-09 00:00:00.000       27000.0                 NaN       NaN
1      1945-12-10 00:00:00.000       16000.0                 NaN       NaN
2      1961-10-18 00:00:00.000       48105.0                 NaN       NaN
3      1973-01-12 00:00:00.000       18183.0                 NaN       NaN
4      1953-03-19 00:00:00.000       52337.0                 NaN       NaN
...                        ...           ...                 ...       ...
64524  1988-10-18 00:00:00.000       15000.0                 NaN       NaN
64525  1974-01-09 00:00:00.000       24941.0                 NaN       NaN
64526  1964-04-16 00:00:00.000           0.0                 NaN       NaN
64527  1999-06-04 00:00:00.000        8500.0                 NaN       NaN
64528  1996-02-14 00:00:00.000       16397.0                 NaN       NaN

         PROVINCIA_PER COD_POSTAL_PER TIPOLABORAL      METAL
0         BUENOS AIRES           1804    JUBILADO  PLATINO_B
1         BUENOS AIRES           1804    JUBILADO   POSREFIB
2         BUENOS AIRES           1804     PUBLICA   POSREFIB
3         BUENOS AIRES           1846     Privada    PLATINO
4         BUENOS AIRES           1804    JUBILADO        ORO
...                ...            ...         ...        ...
64524  CAPITAL FEDERAL           1436  SIN RECIBO        ORO
64525     BUENOS AIRES           1870     Privada      NUEVO
64526     BUENOS AIRES           1752  SIN RECIBO      NUEVO
64527     BUENOS AIRES           1778  SIN RECIBO    NUEVO_B
64528     BUENOS AIRES           1665     Privada    NUEVO_B

[64529 rows x 13 columns]

In [14]:
temp1 = clientes.merge(creditos, left_on="ID_CLIENTE", right_on="ID_CLIENTE")

In [15]:
temp2 = temp1.merge(pagos, left_on="ID_CREDITO", right_on="ID_CREDITO")

In [16]:
print(temp1)

        ID_CLIENTE  TDOC_x  NROC SEXO                    FALTA  \
0          1662448     NaN   NaN    M  1900-01-01 00:00:00.000
1          1662448     NaN   NaN    M  1900-01-01 00:00:00.000
2          1662458     NaN   NaN    M  1900-01-01 00:00:00.000
3          1662470     NaN   NaN    M  1900-01-01 00:00:00.000
4          1662470     NaN   NaN    M  1900-01-01 00:00:00.000
...            ...     ...   ...  ...                      ...
119141     2472853     NaN   NaN    F  2019-12-30 00:00:00.000
119142     2472858     NaN   NaN    M  2019-12-30 00:00:00.000
119143     2472862     NaN   NaN    F  2019-12-30 00:00:00.000
119144     2472869     NaN   NaN    F  2019-12-30 00:00:00.000
119145     2472878     NaN   NaN    F  2019-12-30 00:00:00.000

                           FNAC  INGRESO_NETO  FECHA_ALTA_LABORAL  SUCURSAL_x  \
0       1947-09-09 00:00:00.000       27000.0                 NaN         NaN
1       1947-09-09 00:00:00.000       27000.0                 NaN         NaN
2       1945-12-10 00:00:00.000       16000.0                 NaN         NaN
3       1961-10-18 00:00:00.000       48105.0                 NaN         NaN
4       1961-10-18 00:00:00.000       48105.0                 NaN         NaN
...                         ...           ...                 ...         ...
119141  1988-10-18 00:00:00.000       15000.0                 NaN         NaN
119142  1974-01-09 00:00:00.000       24941.0                 NaN         NaN
119143  1964-04-16 00:00:00.000           0.0                 NaN         NaN
119144  1999-06-04 00:00:00.000        8500.0                 NaN         NaN
119145  1996-02-14 00:00:00.000       16397.0                 NaN         NaN

          PROVINCIA_PER  ... NDOC FECHAINFORME             FLIQUIDACION  \
0          BUENOS AIRES  ...  NaN   27/07/2020  2019-12-24 10:01:10.000
1          BUENOS AIRES  ...  NaN   27/07/2020  2019-09-12 15:43:40.000
2          BUENOS AIRES  ...  NaN   27/07/2020  2019-05-13 15:51:48.000
3          BUENOS AIRES  ...  NaN   27/07/2020  2019-10-10 16:06:48.000
4          BUENOS AIRES  ...  NaN   27/07/2020  2019-01-23 10:17:35.000
...                 ...  ...  ...          ...                      ...
119141  CAPITAL FEDERAL  ...  NaN   27/07/2020  2019-12-30 17:58:45.000
119142     BUENOS AIRES  ...  NaN   27/07/2020  2019-12-30 17:47:56.000
119143     BUENOS AIRES  ...  NaN   27/07/2020  2019-12-30 18:32:51.000
119144     BUENOS AIRES  ...  NaN   27/07/2020  2019-12-30 18:28:43.000
119145     BUENOS AIRES  ...  NaN   27/07/2020  2019-12-30 18:21:11.000

        CODIGO  ID_CREDITO     MONTO  SUCURSAL_y              NOMBRE  RECIBO  \
0            7     5467740  31180.16      Ezeiza    Refinanciaciones      NO
1            7     5432449  33015.84      Ezeiza  Efectivo Renovador      NO
2            7     5393285  24707.94      Ezeiza    Refinanciaciones      NO
3            7     5442048  21871.36      Ezeiza  Efectivo Renovador      NO
4            7     5353940   2145.61      Ezeiza    Refinanciaciones      NO
...        ...         ...       ...         ...                 ...     ...
119141      81     5469164   7916.61     Pompeya      Efectivo Nuevo      NO
119142      36     5469150  16792.65  Avellaneda      Efectivo Nuevo      NO
119143      73     5469192  10200.87     Liniers      Efectivo Nuevo      NO
119144      52     5469186  10200.87   San Justo      Efectivo Nuevo      NO
119145      91     5469182  16792.65  San Miguel      Efectivo Nuevo      NO

        CLASE_PLAN
0        RENOVADOR
1            NUEVO
2        RENOVADOR
3            NUEVO
4        RENOVADOR
...            ...
119141   RENOVADOR
119142   RENOVADOR
119143   RENOVADOR
119144   RENOVADOR
119145   RENOVADOR

[119146 rows x 24 columns]

In [18]:
print("[i] Merging Datasets")
start = time.time()
temp1 = clientes.merge(creditos, left_on="ID_CLIENTE", right_on="ID_CLIENTE")
temp2 = temp1.merge(pagos, left_on="ID_CREDITO", right_on="ID_CREDITO")
everything = temp2.merge(cuotas, left_on="ID_CREDITO", right_on="ID_CREDITO")
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))

[i] Merging Datasets
Finished in 42.51 secs

In [19]:
print("[i] Dropping unnecessary columns")
drop_columns=None
start = time.time()
if drop_columns is None:
    drop_columns = [
        "TDOC_x",
        "NROC",
        "FECHA_ALTA_LABORAL",
        "SUCURSAL_x",
        "TDOC_y",
        "NDOC",
        "Unnamed: 5"
    ]
everything = everything.drop(labels=drop_columns, axis=1)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing MONTO")
start = time.time()
normalize_amount(everything, "MONTO", 2500)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing INGRESO_NETO")
start = time.time()
normalize_amount(everything, "INGRESO_NETO", 1000)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing CLASE_PLAN")
start = time.time()
normalize_string_mapping(everything, "CLASE_PLAN", CLASE_PLAN)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing SEXO")
start = time.time()
normalize_string_mapping(everything, "SEXO", SEXO)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing RECIBO")
start = time.time()
normalize_string_mapping(everything, "RECIBO", {'NO':False, 'SI':True})
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing METAL")
start = time.time()
normalize_string_mapping(everything, "METAL", METALES)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing TIPOLABORAL")
start = time.time()
normalize_string_mapping(everything, "TIPOLABORAL", TIPO_LABORAL)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))


print("[i] Normalizing SUCURSAL_y")
start = time.time()
everything["SUCURSAL_y"] = everything["SUCURSAL_y"].str.strip()
normalize_string_mapping(everything, "SUCURSAL_y", SUCURSAL_Y)
end = time.time()
print("Finished in {} secs".format(round(end-start, 2)))

[i] Dropping unnecessary columns
Finished in 87.24 secs
[i] Normalizing MONTO
Finished in 24.33 secs
[i] Normalizing INGRESO_NETO
Finished in 21.11 secs
[i] Normalizing CLASE_PLAN
Finished in 24.11 secs
[i] Normalizing SEXO
Finished in 17.78 secs
[i] Normalizing RECIBO
Finished in 7.63 secs
[i] Normalizing METAL
Finished in 22.61 secs
[i] Normalizing TIPOLABORAL
Finished in 20.18 secs
[i] Normalizing SUCURSAL_y
Finished in 50.54 secs

In [24]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min


#everything = load_merge_all_datasets("./data/")

desired_columns = ["MONTO", "TIPOLABORAL", "SUCURSAL_y", "METAL"]
selected_columns = everything[desired_columns]

data_subset = selected_columns.sample(frac=0.05)
kmeans = KMeans(n_clusters=5).fit(data_subset)

print("[i] Cluster Centers")
print(kmeans.cluster_centers_)

print(kmeans.labels_)

print("[i] Distributions")
ps = pd.Series(kmeans.labels_)
print(ps.value_counts())

[i] Cluster Centers
[[3.05283206e+04 6.55319073e+00 1.72932699e+01 1.02567645e+01]
 [8.41324491e+03 6.17101089e+00 1.77152073e+01 9.56880276e+00]
 [7.12713607e+04 7.76797953e+00 1.64535319e+01 1.10405739e+01]
 [4.63427884e+04 7.46618292e+00 1.71650111e+01 1.05194211e+01]
 [1.79889879e+04 6.27871744e+00 1.77491777e+01 9.78719494e+00]]
[1 1 1 ... 1 1 0]
[i] Distributions
1    310489
4    243232
0    139404
3     51542
2     10943
dtype: int64